
<div class="contain-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" *ngFor="let movie of movieData, let i=index" [ngClass]="{active:i===1}">
        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{movie.original_title}}</h2>
          <p>{{movie.overview}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="contain mt-3 p-4">
  <div class="row mt-4">
    <h5 class="text-white">Trending Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of trendingData">
        <img src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Action Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let ac of actionData">
        <img src="https://image.tmdb.org/t/p/original/{{ac.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',ac.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Adventure Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let ad of adventureData">
        <img src="https://image.tmdb.org/t/p/original/{{ad.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',ad.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Animation Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let ani of animationData">
        <img src="https://image.tmdb.org/t/p/original/{{ani.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',ani.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Comedy Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let com of comedyData">
        <img src="https://image.tmdb.org/t/p/original/{{com.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',com.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Documentary Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let doc of documentaryData">
        <img src="https://image.tmdb.org/t/p/original/{{doc.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',doc.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Science Fiction Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let scf of scienceFictionData">
        <img src="https://image.tmdb.org/t/p/original/{{scf.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',scf.id]">
      </ng-container>
    </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Thriller Movies</h5>

    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let thr of thrillerData">
        <img src="https://image.tmdb.org/t/p/original/{{thr.poster_path}}" alt="" class="rowing largeposter" [routerLink]="['/movie',thr.id]">
      </ng-container>
    </div>
  </div>
</div>


